@model IEnumerable<Livraria.App.ViewModels.LivroViewModel>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style="width: 70px; height: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-controller="Autores" asp-action="Details" asp-route-id="@item.AutorId">
                        @Html.DisplayFor(modelItem => item.Autor.Nome)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @item.Valor.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a class="btn btn-info" asp-controller="Livros" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-search"></i></a>
                    <a class="btn btn-warning" asp-controller="Livros" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pencil-alt"></i></a>
                    <a class="btn btn-danger" asp-controller="Livros" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
